<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="/Users/praharshanigampa/Desktop/automation-framework/MypursuCorporate/src/main/java/org/example/CorporateLogin/Signup.java">
        <classes>
            <class name="org.example.CorporateLogin.Signup">
                <methods>
                    <include name="Signup"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true"
          name="/Users/praharshanigampa/Desktop/automation-framework/MypursuCorporate/src/main/java/org/example/CorporateLogin/Login.java">
        <classes>
            <class name="org.example.CorporateLogin.Login">
                <methods>
                    <include name="login"/>
                    <include name="loginWithoutMailId"/>
                    <include name="loginWithoutTandC"/>
                    <include name="loginWithInvalidMailFormat"/>
                    <include name="loginWithInvalidMailFormatAndNoTandC"/>
                    <include name="loginWithNonRegisteredUser"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true"
          name="/Users/praharshanigampa/Desktop/automation-framework/MypursuCorporate/src/main/java/org/example/CorporateLogin/AddUser.java">
        <classes>
            <class name="org.example.CorporateLogin.afterLogin">
                <methods>
                    <include name="AddUser"/>
                    <include name="verifyWalletUser"/>
                    <include name="editUserDetail"/>
                    <include name="formAddTotalAmountLoaded"/>
                    <include name="employeeformAddTotalAmountLoaded"/>
                    <include name="formAddWithdrow"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true"
          name="/Users/praharshanigampa/Desktop/automation-framework/MypursuCorporate/src/main/java/org/example/CorporateLogin/mainPage.java">
        <classes>
            <class name="org.example.CorporateLogin.mainPage">
                <methods>
                    <include name="mainPage"/>
                    <include name="install"/>
                    <include name="importalntLinks"/>
                    <include name="quickLinks"/>
                    <include name="contactUs"/>
                </methods>
            </class>
        </classes>
    </test>
    <listeners>
        <listener class-name="org.testng.reporters.XMLReporter"/>
    </listeners>
    <parameter name="outputDirectory" value="target/surefire-reports"/>
</suite>